In [1]:
import pyspark
from pyspark.sql import SparkSession, SQLContext

In [2]:
sc = pyspark.SparkContext(appName='try')
spark = SparkSession.builder.getOrCreate()

In [3]:
table = spark.read.option('header','true').format('csv').option('delimiter', '\t').load('AAAELP.xaa.db2')

In [5]:
table.show()

+------------------------------------------------------------------------------+
|M ZINC000085167628      none  26  26    446    240     79      7      5     14|
+------------------------------------------------------------------------------+
|                                                          M   +2.0000   -10...|
|                                                          M CN1C=[NH+]C=C1C...|
|                                                          M NO_LONG_NAME   ...|
|                                                                  M  +999.9990|
|                                                          A   1 C1   C.3   ...|
|                                                          A   2 N1   N.pl3 ...|
|                                                          A   3 C2   C.cat ...|
|                                                          A   4 N2   N.pl3 ...|
|                                                          A   5 H1   H     ...|
|                                                          A   6 C3   C.2   ...|
|                                                          A   7 C4   C.2   ...|
|                                                          A   8 C5   C.3   ...|
|                                                          A   9 N3   N.4   ...|
|                                                          A  10 H2   H     ...|
|                                                          A  11 H3   H     ...|
|                                                          A  12 C6   C.3   ...|
|                                                          A  13 C7   C.2   ...|
|                                                          A  14 N4   N.am  ...|
|                                                          A  15 O1   O.2   ...|
|                                                          A  16 H4   H     ...|
+------------------------------------------------------------------------------+
only showing top 20 rows